<header>
    <nav>
        <ul>
            <li>
                <img th:src="@{/images/logo.webp}" alt="Logo Strava" />
            </li>
            <li><a id="myActivityLink" href="#">Mi actividad</a></li>
            <li>
                <div class="dropdown">
                    <a href="#">Retos <svg xmlns="http://www.w3.org/2000/svg" class="arrow-down" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m7 10l5 5l5-5"/></svg></a>
                    <div class="dropdown-content">
                        <a href="/strava/my_challenges">Mis retos</a>
                        <a href="/strava/discover_challenges">Descubrir retos</a>
                        <a href="/strava/new_challenge">Publicar reto</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <button onclick="location.href='/strava/logout'">
                Cerrar sesión
                </button>
            </li>
        </ul>
    </nav>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const today = new Date();
            const startDate = new Date(
                today.getFullYear(),
                today.getMonth(),
                1
            );

            // Formatear la fecha localmente
            const year = startDate.getFullYear();
            const month = String(startDate.getMonth() + 1).padStart(
                2,
                "0"
            ); // Añadir ceros a la izquierda
            const day = String(startDate.getDate()).padStart(2, "0"); // Siempre será 01
            const formattedDate = `${year}-${month}-${day}`;

            document.getElementById(
                "myActivityLink"
            ).href = `/strava/my_activity?startDate=${formattedDate}`;
        });
    </script>
</header>