header {
    background-color: white;
    position: sticky;
    top:0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
}

    header nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 100%;
    }

        header nav ul {
            list-style-type: none;
            height: 100%;
            display: flex;
            flex-direction: row;
        }

            header nav li {
                display: flex;
                height: 100%;
                align-items: center;
                margin-right: 20px;
            }

                header nav a {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-decoration: none;
                    color: black
                }

    header img {
        height: 60px;
        width: auto;
    }

header .dropdown {
    position: relative;
    display: inline-block;
}

header .dropdown a {
    display: flex;
    align-items: center;
}

header .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
    top: 55px;
    /* Centrar horizontalmente */
    left: 50%;
    transform: translateX(-50%);
}

header .dropdown:hover .dropdown-content {
    display: block;
}

header .dropdown-content a {
    color: black;
    padding: 16px 20px;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease;
}

header .dropdown-content a:hover {
    background-color: #f1f1f1;
}

header .arrow-down {
    font-size: 0.8em;
    margin-left: 5px;
    color: orange
}