* {
    box-sizing: border-box;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form section h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.error-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.error-popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.error-popup-content p {
    margin-bottom: 20px;
}

.error-popup-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: #fff;
    cursor: pointer;
}

.register-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

.register-button:hover {
    background-color: rgb(204, 133, 0);
}

.error-card {
    background-color: rgb(255, 193, 193);
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    color: rgb(145, 42, 42);
    margin-bottom: 10px;
}

.error-card a {
    text-decoration: underline;
    color: rgb(145, 42, 42);
}